GEMINI_API_KEY=AIzaSyAP5rSQjShYamtsW-KAonH3wVkN2tmU14U, AQ.Ab8RN6J0NCSSQPN4Yf_KwooDzuwYuoubFoNiOcpv0rqmCiHd2Q
SUPABASE_URL=https://zikypzaaqlcifhqzptow.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inppa3lwemFhcWxjaWZocXpwdG93Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDQ3NTkxMSwiZXhwIjoyMTAwMDUxOTExfQ.NxGMWUC0EzTZ3p_EDKI0dZtyH8s-qulWYJuloblbU8c
